@import "tailwindcss";
@import "7.css/dist/7.scoped.css";
@import '@xterm/xterm/css/xterm.css';

:root {
  --base00: #080808;
  --base01: #000000;
  --base02: #535353;
  --base03: #767676;
  --base04: #999999;
  --base05: #bcbcbc;
  --base06: #dfdfdf;
  --base07: #fffefe;
  --base08: #d60005;
  --base09: #d9bc25;
  --base0A: #9fa8fe;
  --base0B: #1cd815;
  --base0C: #4fd2d9;
  --base0D: #5665fe;
  --base0E: #af51d9;
  --base0F: #6b0002;

  /* aliases... */
  --bg: var(--base00);
  --light-bg: var(--base01);
  --selection: var(--base02);
  --comment: var(--base03);
  --dark-fg: var(--base04);
  --fg: var(--base05);
  --light-fg: var(--base06);
  --lightest-fg: var(--base07);

  --red: var(--base08);
  --orange: var(--base09);
  --yellow: var(--base0A);
  --green: var(--base0B);
  --cyan: var(--base0C);
  --blue: var(--base0D);
  --magenta: var(--base0E);
  --brown: var(--base0F);
}

html, body {
  background-color: #080808;
}

@font-face {
  font-family: 'JetBrainsMono Nerd Font NL';
  src: url('/fonts/JetBrainsMonoNLNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
}

